<router-outlet></router-outlet>
<main>
  <div class="flex-container">
    <!--Looping the list of Pokémons, ad passing the current pokemon to app-pokemon-list-item-->
    <app-pokemon-list-item *ngFor="let pokemon of pageOfPokemons" [pokemon]="pokemon" [isTrainerPage]="isTrainerPage">
    </app-pokemon-list-item>
  </div>
  <footer class="pagination">
    <div>
      <jw-pagination [items]="pokemons!" [pageSize]="20" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
  </footer>
</main>