main {
  height: 100%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.pagination {
  font-size: 0.7rem;
  justify-content: center;
  max-width: 100%;
  bottom: 0;
}
