<li>
    <mat-card class="card-container">
        <mat-card-title>
            {{pokemon.name}}
        </mat-card-title>
        <mat-card-content [ngClass]="caught == false || isTrainerPage ? 'normal': 'greyedOut'">
            <img src="{{pokemon.avatar}}" />
            <img class="pokeball" src="../../../assets/pokeball.png" *ngIf="!isTrainerPage" (click)="onCatchClick()" />
            <button class="btn btn-sm btn-outline-secondary" *ngIf="isTrainerPage" (click)="onFreeClick()">Free the
                Pokémon</button>
        </mat-card-content>
    </mat-card>
</li>